.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #777777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.6875;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #e5e5e5 #e5e5e5 #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.tab-content--ys > .tab-pane {
  display: none;
  background-color: #ffffff;
  padding: 30px 40px;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  border-top: 0;
  font-weight: 300;
}
.tab-content--ys > .active {
  display: block;
}
.tab-content--ys-center {
  padding: 50px 0 0 0;
  text-align: center;
}
.tab-content--ys-fullwidth {
  border: none !important;
  padding: 50px 0 0 0;
}
.tab-content--ys-fullwidth > .tab-pane {
  display: none;
  padding: 0px 0px;
  border-width: 1px;
  border-top: 0;
  font-weight: 300;
}
.tab-content--ys-fullwidth > .active {
  display: block;
}
.tab-content--ys-center {
  padding: 50px 0 0 0;
  text-align: center;
}
/* flip tab */
.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em;
}
.tabs nav {
  text-align: center;
}
.tabs nav ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.tabs nav ul li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
}
.tabs nav a span {
  vertical-align: middle;
  font-size: 0.75em;
}
.tabs nav li.tab-current a {
  color: #74777b;
}
.tabs nav a:focus {
  outline: none;
}
.tabs-style-flip {
  max-width: 1200px;
}
.tabs-style-flip nav a {
  padding: 0.5em 0;
  color: #2CC185;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.tabs-style-flip nav a:hover,
.tabs-style-flip nav a:focus,
.tabs-style-flip nav li.tab-current a {
  color: #74777b;
}
.tabs-style-flip nav a span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 0.625em;
}
.tabs-style-flip nav a::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  content: '';
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
  transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
}
.tabs-style-flip nav li.tab-current a::after {
  background-color: #fff;
  -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
  transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
}
.tabs-style-flip .content-wrap {
  background: #fff;
}
/*=== /tabs ===*/
.open-tab {
  display: block !important;
}
/*=== zoom ===*/
.zoomLens {
  opacity: 1 !important;
  background-color: rgba(255, 255, 255, 0.36) !important;
  border: 1px solid #e5e5e5 !important;
}
.zoomWindowContainer > div {
  border: 1px solid #e5e5e5 !important;
  margin: 0 10px;
}
/* /side-offset */
/* dividers */
.divider {
  height: 30px;
  clear: both;
  overflow: hidden;
  width: 100%;
}
.divider--xl-2 {
  height: 165px;
}
.divider--xl-1 {
  height: 99px;
}
.divider--lg {
  height: 45px;
}
.divider--aside {
  height: 36px;
}
.divider--md2 {
  height: 40.5px;
}
.divider--md1 {
  height: 31.5px;
}
.divider--md0 {
  height: 30.6px;
}
.divider--md {
  height: 20.01px;
}
.divider--sm {
  height: 14.01px;
}
.divider--xs {
  height: 8.01px;
}
.divider--xxs {
  height: 3px;
}

/* content */
.content {
  margin-top: 75px;
  margin-bottom: 75px;
}
@media (max-width: 767px) {
  .content {
    margin-top: 37.5px;
  }
}
@media (min-width: 1769px) {
  .content {
    margin-top: 85px;
  }
}
/*=== /pagination ===*/
/*=== tabs ===*/
@media (min-width: 768px) {
  .nav-tabs--ys {
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
  }
  .nav-tabs--ys > li > a {
    border: 0;
    background-color: #f5f5f5;
    margin-right: 0;
    border-radius: 0;
    padding: 16px 28px 15px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    color: #333333;
    text-transform: uppercase;
    font-weight: 500;
  }
  .nav-tabs--ys > li > a:hover {
    border-color: #e5e5e5;
  }
  .nav-tabs--ys > li.active > a,
  .nav-tabs--ys > li.active > a:hover,
  .nav-tabs--ys > li.active > a:focus {
    padding-bottom: 14px;
    border: 0;
    border-right: 1px solid #e5e5e5;
    color: #333333;
  }
  .nav-tabs--ys > li.active > a:after {
    background-color: #ffffff;
    height: 2px;
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
  }
  .nav-tabs--ys > li.active > a:before {
    background-color: #1fc0a0;
    height: 3px;
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
  }
  .nav-tabs--ys-center {
    border: none;
  }
  .nav-tabs--ys-center li {
    display: inline-block;
    float: inherit;
    margin: 0px 20px 20px 0 !important;
  }
  .nav-tabs--ys-center li.active > a {
    border-bottom: 5px solid #1fc0a0 !important;
    color: #333333 !important;
  }
  .nav-tabs--ys-center a {
    border: none !important;
    font-size: 24px;
    padding: 0 0 18px 0 !important;
    border-bottom: 5px solid transparent !important;
    -webkit-transition:  all 0.3s 0s ease;
    -moz-transition:  all 0.3s 0s ease;
    -ms-transition:  all 0.3s 0s ease;
    -o-transition:  all 0.3s 0s ease;
    transition:  all 0.3s 0s ease;
  }
  .nav-tabs--ys-center a:hover {
    color: #333333;
    background: none !important;
  }
  .nav-tabs--ys-center1 {
    border-bottom: 1px solid #e5e5e5;
  }
  .nav-tabs--ys-center1 li {
    display: inline-block;
    float: inherit;
    margin: 0px 20px !important;
  }
  .nav-tabs--ys-center1 li.active > a {
    border-bottom: 3px solid #1fc0a0 !important;
  }
  .nav-tabs--ys-center1 a {
    border: none !important;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    padding: 0 !important;
    border-bottom: 3px solid transparent !important;
    -webkit-transition:  all 0.3s 0s ease;
    -moz-transition:  all 0.3s 0s ease;
    -ms-transition:  all 0.3s 0s ease;
    -o-transition:  all 0.3s 0s ease;
    transition:  all 0.3s 0s ease;
  }
  .nav-tabs--ys-center1 a:hover {
    color: #333333;
    background: none !important;
  }
}
@media (min-width: 768px) and (max-width: 767px) {
  .nav-tabs--ys > li {
    float: none;
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 767px) {
  .nav-tabs--ys > li > a {
    border: 0;
  }
}
@media (min-width: 768px) and (max-width: 767px) {
  .nav-tabs--ys > li.active > a,
  .nav-tabs--ys > li.active > a:hover,
  .nav-tabs--ys > li.active > a:focus {
    border: 0;
  }
}
@media (min-width: 768px) and (max-width: 767px) {
  .nav-tabs--ys > li.active > a:after {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 767px) {
  .nav-tabs--ys-center1 li {
    float: none;
    display: block;
    margin: 10px 20px !important;
  }
}
@media (max-width: 767px) {
  .nav-tabs {
    border-color: transparent !important;
  }
  .nav-tabs li {
    float: none !important;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  .nav-tabs li a {
    border-color: transparent !important;
    border-radius: 0;
    font-weight: bold;
    color: #333;
    -webkit-transition:  all 300ms linear 0s;
    -moz-transition:  all 300ms linear 0s;
    -ms-transition:  all 300ms linear 0s;
    -o-transition:  all 300ms linear 0s;
    transition:  all 300ms linear 0s;
  }
  .nav-tabs li a:hover {
    background: none;
    color: #1fc0a0;
  }
  .nav-tabs li.active a {
    background: #1fc0a0 !important;
    color: #fff !important;
    border-color: transparent!important;
  }
}
.tab-content--ys > .tab-pane {
  display: none;
  background-color: #ffffff;
  padding: 30px 40px;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  border-top: 0;
  font-weight: 300;
}
.tab-content--ys > .active {
  display: block;
}
.tab-content--ys-center {
  padding: 50px 0 0 0;
  text-align: center;
}
.tab-content--ys-fullwidth {
  border: none !important;
  padding: 50px 0 0 0;
}
.tab-content--ys-fullwidth > .tab-pane {
  display: none;
  padding: 0px 0px;
  border-width: 1px;
  border-top: 0;
  font-weight: 300;
}
.tab-content--ys-fullwidth > .active {
  display: block;
}
.tab-content--ys-center {
  padding: 50px 0 0 0;
  text-align: center;
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.text-right {
  text-align: right;
}
.color {
  color: #1fc0a0;
}
.color:hover {
  color: #1fc0a0;
}
/* tables */
table td {
  border-color: #e5e5e5 !important;
}