.url-to {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 20px 20px;
    height: 200px;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.35s all;
    text-decoration: none;
}
.url-to:first-child {
    margin-left: 0px;
}
.box-to {
    text-decoration: none;
}
.box-to:hover {
    text-decoration: none;
}
.url-to h3 {
    text-align: center;
    padding-top: 40px;
    color: white; 
}
.url-to:hover {
    display: block;
    border-bottom: 4px solid rgba(231, 130, 231, 0.5);
    background: rgba(0, 0, 0, 0.8);    
}

.url-to:hover h3{
    color: rgba(231, 130, 231, 0.5);
}